<div id="front-page" class="landing-page">
    <div id="front-image">
        <img src="images/katiestreatsclearbck2.png">
    </div>
    <div id="front-text">
        <h2>Homemade and Delicious</h2>

        <h3>All kinds of treats from</h3>
        <h3>cookies and fudge to birthday</h3>
        <h3>cakes and truffles</h3>

        <p>Currently Serving Murfreesboro, TN</p>
    </div>
</div>