<%- partial('_partial/head') %>
<body class="<%= page.title %>">
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header') %>
      <div class="outer">
        <section id="main"><%- body %></section>
      </div>
      <%- partial('_partial/footer') %>
    </div>
  </div>
</body>
</html>