<div class="page-outer">
<div class="page-inner">
<title>contactme</title>
<h1>Contact Form</h1>
<div id="contactme" class="row">
    <div id="contactform" class="col-md-6 col-sm-8 col-xs-12">
        <form action="//formspree.io/<%= theme.contact_email %>" method="POST">
            <div id="form">
                <label for="name">Name:</label>
                <input type="text" name="name" />
                <label for="_replyto">Email:</label>
                <input type="email" name="_replyto" />
                <label for="_subject">Subject</label>
                <input type="text" name="_subject" />
                <label for="_message">Message:</label>
                <textarea cols="50" rows="10" name="_message" class="col-md-14"></textarea>

                <input type="submit" value="Send" />
                <input type="hidden" name="_next" value="/contactme" />
                <input type="text" name="_gotcha" style="display: none;" />
            </div>
        </form>
    </div>
</div>