@media screen and (min-width: 940px) {
    #main-nav-toggle {
        display: none;
    }
}

body {
	background-image: url("/images/backgroundtile.png");
	color: #f9fbca;
	margin: 0;
    top: 0;
    bottom: 0;
}

#header {
	text-align: center;
	min-width: 100%;
}

ul {
	-webkit-padding-start: 0;
}

#main {
	margin: 2% 1%;
}

#top-menu {
    padding-top: 1em;
    margin-top: 1em;
}

#top-menu li {
	list-style: none;
	vertical-align: center;
	line-height: 1;
	text-decoration: none;
	display: inline-block;
	margin: 3em 0;
}

#top-menu a {
	color: #FFE263;
	font-size: 1.8em;
	padding: .5em;
	font-variant: small-caps;
	text-decoration: none;
}

#top-menu a:hover {
	background: #FFE263;
	color: #71067F;
	border-radius: 10px 20px;
}

#top-menu a:active {
	background: #FFE263;
	color: #71067F;
	border-radius: 20px 10px;
}

#front-image {
	vertical-align: center;
	text-align: center;
}

#front-image img {
    margin: 2em 0 0;
    width: 40%;
}

#front-text {
	font-variant: small-caps;
	text-align: center;
	padding: 2em 0;
    color: #f9fbca;
}
#front-text h3 {
	margin: 0;
	padding: 0;
}

#ktcanvas {
	height: 100%;
	width: 70%;
	background: #71067F;
	margin: 0 15% 0 15%;
	vertical-align: center;
	text-align: center;
}

#content .page-outer {
    text-align: center;
    margin: 2em 20% 5em;
    padding: 1em;
    background-color: #FFE263;
}
#content .page-inner {
    padding: 1em 0;
    text-align: center;
    background-color: #71067F;
    color: #FFE263;
}

/*Treats Page*/
#cakes {
    margin: 2em;
}

#cakes ul li {
    text-align: left;
    list-style-type: none;
}

#cakes ul {
    padding: 0 0 1em 25%;
}

#cakes label {
    text-align: center;
    text-decoration: underline;
    padding: 2em 0 1%;
}

/*Specials Page*/

.photos {
	vertical-align: center;
	text-align: center;
	transition: all .2s ease-in-out;

}

.photos img {
	position: relative;
	background: #fff;
    max-height: 266px;
    margin: 2em .5em;
}

.photos img:hover {
	transform: scale(1.1);
	box-shadow: 5px 5px #000;
}

#footer  {
	display: block;
	background-color: #6E3D74;
	bottom: 0;
	color: #f9fbca;
	margin: 2em 0 0;
	padding: 1em 2em 1em;
	min-height: 2em;
	min-width: 100%;
	position: fixed;
}

#footer p {
	display: inline-block;
	font-size: .8em;
	margin: 0 5em 0;
}

.copyright {
  float: left;
  text-align: left;
  width: 30%; }

.copyright a {
  text-decoration: none;
  color: #CED8F6; }

.float_center {
  float: right;
  position: relative;
  right: 45%;
  text-align: center;
}
.float_center > .child {
  position: relative;
  left: 50%;
}
.float_center a {
    color: #FFE263;
}
.float_center a:hover {
    color: #f9fbca;
    text-decoration: none;
}

.thememaker a img {
  vertical-align: center;
  height: 20px;
  width: 22px;
  background: none;
  padding-bottom: 2px; }

.thememaker a img:hover {
  box-shadow: none; }

.thememaker {
  float: right;
  position: relative;
  text-align: right;
  left: 10%;
  width: 30%;
  }

.thememaker a:link, .thememaker a:visited {
    text-decoration: none;
    color: #FFE263;
}

.thememaker a:hover, .thememaker a:active {
    text-decoration: none;
    color: #f9fbca;
}

.build {
	width: 50%;
	float: right;
	text-align: right;
	margin-left: 5em;
}

.build a {
	text-decoration: none;
	color: #f9fbca;
}

.build a img {
	vertical-align: bottom;
	height: 20px;
	width: 30px;
	background: none;
}

.build a img:hover {
	box-shadow: none;
}