<article id="<%= page.layout %>-<%= page.slug %>" class="article article-type-<%= page.layout %>" itemscope itemprop="pages">
    <div class="page-meta">
    </div>
    <% if (page.link || page.title){ %>
        <header class="page-header">
            <%- partial('page/title', {class_name: page.title}) %>
        </header>
    <% } %>
    <div id="content" class="page-entry" itemprop="pageBody">
        <div class="page-outer">
            <div class="page-inner">
                <%- page.content %>
            </div>
        </div>
    </div>
</article>