<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
    <div class="copyright">
    <% var copyyear = date(new Date(), 'YYYY') %>
    &copy; <%= copyyear %>&nbsp;<%= config.author || config.title %>
  </div>
    <div class="float_center">
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
  </div>
  <div class="thememaker">
    Katie Theme &copy; <%= copyyear %> by <a href="http://bowtiebeej.com"><img src="/images/bowtiefavicon.png"> BowTie Beej</a>
  </div>


</footer>