<header id="header">
    <div id="banner"></div>
    <div id="header-content" class="content">
        <% if (theme.title){ %>
            <h1 id="logo-wrap"><a href="<%- url_for() %>" id="logo"><%= config.title %></a>
            </h1>
        <% } %>
        <% if (theme.subtitle){ %>
            <h2 id="subtitle-wrap"><a href="<%- url_for() %>" id="subtitle"><%= config.subtitle %></a></h2>
        <% } %>
    </div>
    <div id="top-menu">
        <%- partial('_partial/mainnav') %>
    </div>
</header>