<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= config.description %>">
  <meta name="owner" content="<%= config.author %>">
  <meta name="author" content="<%= config.author %>">
  <meta name="copywrite" content="2015 Katie's Treats">
  <%  var title = page.title;  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <%- css('css/katiestyle') %>
  <% if (theme.bootstrapcss){ %>
    <%- css(theme.bootstrapcss) %>
  <% } %>
  <%- js('https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous') %>
  <% if (theme.bootstrapjs) { %>
    <%- js(theme.bootstrapjs) %>
  <% } %>
</head>